header.header {
  display: flex;
  background: var(--displayBgr);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
header.header input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex: 1;
  height: 3.5em;
  background: var(--displayBgr);
  outline: none;
  border: none;
  color: var(--displayColor);
  padding: 0 10px;
  font-size: 1.2em;
}
