html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
.App {
  height: 100vh;
  font-family: sans-serif;
  background: rgb(53, 18, 18);
  border: 10px solid red;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
