.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}

.buttons button,
.operators button {
  background-color: #2196f3;
  padding: 1.4em 0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.buttons button:active,
.operators button:active {
  animation-name: btnclick;
  animation-duration: 0.7s;
}
@keyframes btnclick {
  from {
    background-color: #2196f3;
  }
  to {
    background-color: #0e76c9;
  }
}
